* {
  box-sizing: border-box;
}

:root {
  /* Colors */
  --aqua: #7FDBFF;
  --black: #111111;
  --blue: #0074D9;
  --charcoal: #444444;
  --fuchsia: #F012BE;
  --gray: #AAAAAA;
  --green: #2ECC40;
  --lime: #01FF70;
  --maroon: #85144B;
  --navy: #001F3F;
  --olive: #3D9970;
  --orange: #FF851B;
  --purple: #B10DC9;
  --red: #FF4136;
  --silver: #DDDDDD;
  --teal: #39CCCC;
  --white: #FFFFFF;
  --yellow: #FFDC00;
}

body {
  background-color: var(--charcoal);
  color: var(--white);
  font-family: system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  text-align: center;
}

canvas {
  background-color: #001F3F;
  margin: 0 auto;
  max-height: 100vh;
  max-width: 100vw;
}
